* {
  margin: 0;
  padding: 0;

  /* Firefox */
  scrollbar-color: #52ae30 white;
  scrollbar-width: thin;
}

/* Chrome & Safar */
::-webkit-scrollbar {
  width: 4px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #52ae30;
  border-radius: 50px;
}
